.mission-heading {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 800;
  background: linear-gradient(90deg, #00ffcc, #00ffcc);
  background-size: 200% auto;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shimmer 3s linear infinite;
  margin-bottom: -0.5rem;
  margin-top: 4rem;
  padding: 0 1rem;
  font-family: 'Montserrat', sans-serif;
}

.mission-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 4rem 2rem;
}

.mission-card {
  background: rgba(0, 0, 0, 0.3);;
  backdrop-filter: blur(3px);
  border-radius: 1.5rem;
  width: 300px;
  text-align: center;
  padding: 2rem;
  transition: transform 0.3s ease-in-out;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
  animation: none;
  transition: transform 1s ease-out; /* Smooth return */
  font-family: 'Montserrat', sans-serif;
}

.mission-card:hover {
  animation: pulse 3s infinite;
  transition: transform 1s ease-out; /* Smooth return */
}

.mission-card img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin: 0 auto 1.2rem;
  box-shadow: 0 0 10px rgba(0, 255, 128, 0.3);
}

.mission-card h3 {
  font-size: 1.4rem;
  margin-bottom: 0.8rem;
  position: relative;
}

.shimmer {
  background: linear-gradient(90deg, #00ff99, #00ccff, #00ff99);
  background-size: 200% auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shimmer 5s linear infinite;
}

.mission-card p {
  color: #ddd;
  font-size: 1rem;
  line-height: 1.4;
}

/* Animations */
@keyframes shimmer {
  0% {
    background-position: 200% center;
  }
  100% {
    background-position: -200% center;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

/* Responsive */
@media (max-width: 768px) {
  .mission-gallery {
    flex-direction: column;
    align-items: center;
  }
}
